# Unit 2
---




1. [Introducing Pandas](#section1)
2. [Reading files](#section2)
3. [Selecting data](#section3)
4. [Describe the data](#section4)
5. [Conditional selection](#section5)

<a id='section1'></a>

## 1. Introducing Pandas
---

<div>
<img src="images/pandas.JPG" width="400"/>
</div>



[Panda's documentation](https://pandas.pydata.org/pandas-docs/stable/)

To begin we need to import pandas
When you see pd, know it is referring to pandas

In [3]:
import numpy as np
import pandas as pd

Pandas is a popular Python library used for working in tabular data (similar to the data stored in a spreadsheet).

There are two main data structure used by pandas
- Series: equivalent to a vector or a list
- Dataframe: equivalent to a table.

Creating a dataframe from a list:

In [13]:
lst = ['Intro', 'To', 'Data', 'Analysis', 
            '101']
df = pd.DataFrame(lst)
df

          0
0     Intro
1        To
2      Data
3  Analysis
4       101

Creating a dataframe from a dictionary:

In [14]:
data = {'Name':['Tom', 'nick', 'krish', 'jack'],
        'Age':[20, 21, 19, 18]}
df = pd.DataFrame(data)
df

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

Pandas format is similar to a dictionary, not to a list

Each column in a pandas Dataframe is a pandas Series data structure. We will mainly be looking at the Dataframe.

We can easily create a Pandas Dataframe by reading a .csv file

<a id='section2'></a>

## 2. Reading files
---

<div>
<img src="images/reading.PNG" width="400"/>
</div>


We will read the whole file at once using Pandas.
Sometimes you might want to read the file line by line, and process each line. Thats possible of course. See for example [here.](https://www.geeksforgeeks.org/read-a-file-line-by-line-in-python/)

We will read data on [COVID-19 vaccinations](https://github.com/owid/covid-19-data/tree/master/public/data/vaccinations)

In order to do that, I retrieved the raw data's url

Press on raw either here:

<div>
<img src="images/raw.png" width="800"/>
</div>

or here:

<div>
<img src="images/unit1_raw2.jpg" width="800"/>
</div>

and retrieve the link:

<div>
<img src="images/unit1_raw3.jpg" width="800"/>
</div>

In [10]:
url = 'https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv'
vacc_df = pd.read_csv(url)

read_csv has about 30 different options. See the 
[documentation](https://pandas.pydata.org/pandasdocs/stable/reference/api/pandas.read_csv.html#pandas.read_csv)

For example, sep='\t' is used for tab delimited files and 'usecol' reads only specific columns.

In [3]:
type(vacc_df)

pandas.core.frame.DataFrame

view the shape of the dataframe:

In [4]:
vacc_df.shape

(86936, 16)

view basic information:

In [5]:
vacc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86936 entries, 0 to 86935
Data columns (total 16 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   location                             86936 non-null  object
 1   iso_code                             86936 non-null  object
 2   date                                 86936 non-null  object
 3   total_vaccinations                   46986 non-null  float64
 4   people_vaccinated                    44755 non-null  float64
 5   people_fully_vaccinated              42027 non-null  float64
 6   total_boosters                       18202 non-null  float64
 7   daily_vaccinations_raw               39169 non-null  float64
 8   daily_vaccinations                   86659 non-null  float64
 9   total_vaccinations_per_hundred       46986 non-null  float64
 10  people_vaccinated_per_hundred        44755 non-null  float64
 11  people_fully_vaccinated_per_hundred  42027 non-null  float64
 12  total_boosters_per_hundred           18202 non-null  float64
 13  daily_vaccinations_per_million       86659 non-null  float64
 14  daily_people_vaccinated              85355 non-null  float64
 15  daily_people_vaccinated_per_hundred  85355 non-null  float64
dtypes: float64(13), object(3)
memory usage: 10.6+ MB

In [6]:
vacc_df.columns

Index(['location', 'iso_code', 'date', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'daily_vaccinations_raw', 'daily_vaccinations',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'daily_vaccinations_per_million', 'daily_people_vaccinated',
       'daily_people_vaccinated_per_hundred'],
      dtype='object')

View the first few rows:

In [7]:
vacc_df.head()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0,1367.0,0.003
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0,1367.0,0.003
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0,1367.0,0.003
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0,1367.0,0.003

What do you think that the 'tail' command does? Try it out!

What happens if we just type vacc_df, without a head or a tail?

In [8]:
vacc_df.tail()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
86931,Zimbabwe,ZWE,2022-03-01,7901360.0,4365856.0,3399915.0,135589.0,10409.0,9291.0,52.35,28.93,22.53,0.90,616.0,2991.0,0.020
86932,Zimbabwe,ZWE,2022-03-02,7910740.0,4368726.0,3402434.0,139580.0,9380.0,9061.0,52.42,28.95,22.54,0.92,600.0,2962.0,0.020
86933,Zimbabwe,ZWE,2022-03-03,7921113.0,4372925.0,3406482.0,141706.0,10373.0,8903.0,52.48,28.97,22.57,0.94,590.0,3043.0,0.020
86934,Zimbabwe,ZWE,2022-03-04,7930621.0,4374896.0,3408609.0,147116.0,9508.0,8603.0,52.55,28.99,22.59,0.97,570.0,2811.0,0.019
86935,Zimbabwe,ZWE,2022-03-05,7936145.0,4377373.0,3410340.0,148432.0,5524.0,8458.0,52.58,29.00,22.60,0.98,560.0,2776.0,0.018

---
A summary of the functions so far:

>* `pd.read_csv` - Read data from a CSV file into a Pandas `DataFrame` object
>* `.info()` - View basic infomation about rows, columns & data types
>* `.columns` - Get the list of column names
>* `.shape` - Get the number of rows & columns as a tuple
>* `.head()`, `.tail()` - View the beginning/end of the file

<a id='section3'></a>

---
## 3. Selecting data

This is a dataframe:

![](https://i.imgur.com/zfxLzEv.png)

#### The index of a dataframe doesn't have to be numeric

In [15]:
df = pd.DataFrame({'age':[30, 2, 12, 4, 32, 33, 69],
                   'color':['blue', 'green', 'red', 'white', 'gray', 'black', 'red'],
                   'food':['Steak', 'Lamb', 'Mango', 'Apple', 'Cheese', 'Melon', 'Beans'],
                   'height':[165, 70, 120, 80, 180, 172, 150],
                   'score':[4.6, 8.3, 9.0, 3.3, 1.8, 9.5, 2.2],
                   'state':['NY', 'TX', 'FL', 'AL', 'AK', 'TX', 'TX']
                   },
                  index=['Jane', 'Nick', 'Aaron', 'Penelope', 'Dean', 'Christina', 'Cornelia'])
df

           age  color    food  height  score state
Jane        30   blue   Steak     165    4.6    NY
Nick         2  green    Lamb      70    8.3    TX
Aaron       12    red   Mango     120    9.0    FL
Penelope     4  white   Apple      80    3.3    AL
Dean        32   gray  Cheese     180    1.8    AK
Christina   33  black   Melon     172    9.5    TX
Cornelia    69    red   Beans     150    2.2    TX

In our our file the index is numeric:

In [44]:
vacc_df.head()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0,1367.0,0.003
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0,1367.0,0.003
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0,1367.0,0.003
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0,1367.0,0.003

Select a single column:

return a single column as a series:

select a specific cell

In [48]:
vacc_df.location[600]

'Africa'

select two columns

In [49]:
vacc_df[['location','date']]

          location        date
0      Afghanistan  2021-02-22
1      Afghanistan  2021-02-23
2      Afghanistan  2021-02-24
3      Afghanistan  2021-02-25
4      Afghanistan  2021-02-26
...            ...         ...
86931     Zimbabwe  2022-03-01
86932     Zimbabwe  2022-03-02
86933     Zimbabwe  2022-03-03
86934     Zimbabwe  2022-03-04
86935     Zimbabwe  2022-03-05

[86936 rows x 2 columns]

---
> Now you:
>
> (1) Select the `iso_code` column from the `vacc_df` dataframe
>
> (2) Select only the `iso_code` at index 3
>
> (3) What is the difference between `vacc_df[['location']]` and `vacc_df['location']` and `vacc_df.location` ?  Use `type` to find out

---

#### Seletcting subsets of rows and columns

One way to do that is iloc. 

`.iloc` - selects subsets of rows and columns by integer location only

In [47]:
vacc_df[['location']]

          location
0      Afghanistan
1      Afghanistan
2      Afghanistan
3      Afghanistan
4      Afghanistan
...            ...
86931     Zimbabwe
86932     Zimbabwe
86933     Zimbabwe
86934     Zimbabwe
86935     Zimbabwe

[86936 rows x 1 columns]

retrieve a specific cell

In [11]:
vacc_df.location[600]

'Afghanistan'

The : operator 

 - when used alone it means "everything"

- also used to indicate a ***slice*** of values

retrieve two columns

What if I want to select the 'daily_vaccinations' column, but I don't remember the column number?

Use `.loc`

`.loc` - selects subsets of rows and columns by label only. Allowed inputs are:

- A single label, e.g. 5 or 'a', (note that 5 is interpreted as a label of the index, and never as an integer position along the index).

- A list or array of labels, e.g. ['a', 'b', 'c'].

- A slice object with labels, e.g. 'a':'f'.

In [61]:
vacc_df.loc[2:3,['daily_vaccinations','date']]

   daily_vaccinations        date
2              1367.0  2021-02-24
3              1367.0  2021-02-25

I'm missing the location. Let's add it.

In [ ]:
vacc_df.loc[0:3,['location','daily_vaccinations','date']]

      location  daily_vaccinations        date
0  Afghanistan                 NaN  2021-02-22
1  Afghanistan              1367.0  2021-02-23
2  Afghanistan              1367.0  2021-02-24
3  Afghanistan              1367.0  2021-02-25

Semantics are similar to iloc. But note:

- `iloc` excludes the last element.  `df.iloc[0:1000]` will return entries 0...999
- `loc`, includes the last element.  `df.loc[0:1000]` will return entries 0...1000

you try it! What is the difference between:

> vacc_df.iloc[0:5]

> vacc_df.loc[0:5]

In [ ]:
 vacc_df.iloc[0:5]

In [ ]:
vacc_df.loc[0:5]

---

>Now you: 
>
>what do you do to select:
>
>a. first five rows?
>
>b. first two columns, all rows?
>
>c. 1st and 3rd row and 2nd and 4th column?

---

---
A summary of the functions in this unit:

>* `.iloc` - selects rows and columns by integer location
>* `.loc` - selects rows and columns by label location

Note: indexing operators as the ones working on dictionaries, will also work in pandas. But for more advanced operations, better get used to loc and iloc.

---

<a id='section4'></a>

## 4. Describe the data:

Describe the data

In [25]:
vacc_df.describe()

,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
count,4.698600e+04,4.475500e+04,4.202700e+04,1.820200e+04,3.916900e+04,8.665900e+04,46986.000000,44755.000000,42027.000000,18202.000000,86659.000000,8.535500e+04,85355.000000
mean,1.670557e+08,8.545837e+07,6.719376e+07,1.884933e+07,1.124142e+06,5.122924e+05,74.578996,38.725218,33.077047,13.063171,3337.479535,2.112457e+05,0.149874
std,7.654004e+08,3.929743e+08,3.238892e+08,9.005282e+07,4.280085e+06,2.779368e+06,64.948555,28.964507,27.837182,17.794349,3895.063352,1.172379e+06,0.245209
min,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000
25%,6.488112e+05,4.100280e+05,2.854980e+05,2.978000e+03,6.495000e+03,1.121000e+03,12.990000,9.255000,5.290000,0.010000,702.000000,4.450000e+02,0.024000
50%,4.766018e+06,2.862765e+06,2.214907e+06,4.964770e+05,3.885600e+04,9.646000e+03,61.050000,38.010000,28.030000,3.590000,2232.000000,4.016000e+03,0.073000
75%,2.909507e+07,1.702983e+07,1.350290e+07,4.003726e+06,2.632070e+05,6.583800e+04,126.080000,65.630000,58.835000,21.820000,4818.000000,2.682600e+04,0.192000
max,1.088133e+10,4.986748e+09,4.414217e+09,1.429801e+09,5.490639e+07,4.353698e+07,336.160000,124.650000,121.530000,89.990000,117497.000000,2.141905e+07,11.750000

a note on e: e stands for exponent of 10, and it's always followed by another number, which is the value of the exponent

10e + 1 = 100

10e + 2 = 1000

describe categorical data:

In [26]:
vacc_df[['location']].describe()

           location
count         86936
unique          235
top     High income
freq            460

`High income` is not a location, we have a few of these here. Also have `Africa`, `World` and some others

<a id='section5'></a>

## 5. Conditional selection

In [27]:
vacc_df.loc[:,'location'] == 'Israel'

0        False
1        False
2        False
3        False
4        False
         ...
86931    False
86932    False
86933    False
86934    False
86935    False
Name: location, Length: 86936, dtype: bool

This creates a series of true/false 

We can insert this into the dataframe to select only that task:

In [28]:
vacc_df[vacc_df.loc[:,'location'] == 'Israel']

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
38042,Israel,ISR,2020-12-19,70.0,66.0,4.0,NaN,NaN,NaN,0.00,0.00,0.00,NaN,NaN,NaN,NaN
38043,Israel,ISR,2020-12-20,7459.0,7455.0,4.0,NaN,7389.0,7389.0,0.08,0.08,0.00,NaN,795.0,7389.0,0.080
38044,Israel,ISR,2020-12-21,32375.0,32371.0,4.0,NaN,24916.0,16152.0,0.35,0.35,0.00,NaN,1738.0,16152.0,0.174
38045,Israel,ISR,2020-12-22,77024.0,77020.0,4.0,NaN,44649.0,25651.0,0.83,0.83,0.00,NaN,2761.0,25651.0,0.276
38046,Israel,ISR,2020-12-23,139921.0,139917.0,4.0,NaN,62897.0,34963.0,1.51,1.51,0.00,NaN,3763.0,34963.0,0.376
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38480,Israel,ISR,2022-03-02,18016372.0,6699606.0,6121781.0,5194985.0,1274.0,1444.0,193.91,72.11,65.89,55.91,155.0,84.0,0.001
38481,Israel,ISR,2022-03-03,18018349.0,6699764.0,6122143.0,5196442.0,1977.0,1353.0,193.93,72.11,65.89,55.93,146.0,87.0,0.001
38482,Israel,ISR,2022-03-04,18018890.0,6699819.0,6122250.0,5196821.0,541.0,1313.0,193.94,72.11,65.89,55.93,141.0,87.0,0.001
38483,Israel,ISR,2022-03-05,18018979.0,6699820.0,6122273.0,5196886.0,89.0,1294.0,193.94,72.11,65.89,55.93,139.0,85.0,0.001
38484,Israel,ISR,2022-03-06,18020486.0,6699915.0,6122530.0,5198041.0,1507.0,1223.0,193.96,72.11,65.90,55.95,132.0,83.0,0.001

Another way:

In [29]:
vacc_df.loc[vacc_df.location == 'Israel']

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
38042,Israel,ISR,2020-12-19,70.0,66.0,4.0,NaN,NaN,NaN,0.00,0.00,0.00,NaN,NaN,NaN,NaN
38043,Israel,ISR,2020-12-20,7459.0,7455.0,4.0,NaN,7389.0,7389.0,0.08,0.08,0.00,NaN,795.0,7389.0,0.080
38044,Israel,ISR,2020-12-21,32375.0,32371.0,4.0,NaN,24916.0,16152.0,0.35,0.35,0.00,NaN,1738.0,16152.0,0.174
38045,Israel,ISR,2020-12-22,77024.0,77020.0,4.0,NaN,44649.0,25651.0,0.83,0.83,0.00,NaN,2761.0,25651.0,0.276
38046,Israel,ISR,2020-12-23,139921.0,139917.0,4.0,NaN,62897.0,34963.0,1.51,1.51,0.00,NaN,3763.0,34963.0,0.376
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38480,Israel,ISR,2022-03-02,18016372.0,6699606.0,6121781.0,5194985.0,1274.0,1444.0,193.91,72.11,65.89,55.91,155.0,84.0,0.001
38481,Israel,ISR,2022-03-03,18018349.0,6699764.0,6122143.0,5196442.0,1977.0,1353.0,193.93,72.11,65.89,55.93,146.0,87.0,0.001
38482,Israel,ISR,2022-03-04,18018890.0,6699819.0,6122250.0,5196821.0,541.0,1313.0,193.94,72.11,65.89,55.93,141.0,87.0,0.001
38483,Israel,ISR,2022-03-05,18018979.0,6699820.0,6122273.0,5196886.0,89.0,1294.0,193.94,72.11,65.89,55.93,139.0,85.0,0.001
38484,Israel,ISR,2022-03-06,18020486.0,6699915.0,6122530.0,5198041.0,1507.0,1223.0,193.96,72.11,65.90,55.95,132.0,83.0,0.001

Select two countries:

In [73]:
two_countries = vacc_df.loc[(vacc_df.location == 'Israel') | (vacc_df.location == 'Denmark')]
two_countries.head()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
20505,Denmark,DNK,2020-12-08,1.0,1.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
20506,Denmark,DNK,2020-12-09,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0
20507,Denmark,DNK,2020-12-10,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0
20508,Denmark,DNK,2020-12-11,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0
20509,Denmark,DNK,2020-12-12,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0

only the indexs of the tasks:

In [31]:
two_countries.index.values

array([20505, 20506, 20507, 20508, 20509, 20510, 20511, 20512, 20513,
       20514, 20515, 20516, 20517, 20518, 20519, 20520, 20521, 20522,
       20523, 20524, 20525, 20526, 20527, 20528, 20529, 20530, 20531,
       20532, 20533, 20534, 20535, 20536, 20537, 20538, 20539, 20540,
       20541, 20542, 20543, 20544, 20545, 20546, 20547, 20548, 20549,
       20550, 20551, 20552, 20553, 20554, 20555, 20556, 20557, 20558,
       20559, 20560, 20561, 20562, 20563, 20564, 20565, 20566, 20567,
       20568, 20569, 20570, 20571, 20572, 20573, 20574, 20575, 20576,
       20577, 20578, 20579, 20580, 20581, 20582, 20583, 20584, 20585,
       20586, 20587, 20588, 20589, 20590, 20591, 20592, 20593, 20594,
       20595, 20596, 20597, 20598, 20599, 20600, 20601, 20602, 20603,
       20604, 20605, 20606, 20607, 20608, 20609, 20610, 20611, 20612,
       20613, 20614, 20615, 20616, 20617, 20618, 20619, 20620, 20621,
       20622, 20623, 20624, 20625, 20626, 20627, 20628, 20629, 20630,
       20631, 20632, 20633, 20634, 20635, 20636, 20637, 20638, 20639,
       20640, 20641, 20642, 20643, 20644, 20645, 20646, 20647, 20648,
       20649, 20650, 20651, 20652, 20653, 20654, 20655, 20656, 20657,
       20658, 20659, 20660, 20661, 20662, 20663, 20664, 20665, 20666,
       20667, 20668, 20669, 20670, 20671, 20672, 20673, 20674, 20675,
       20676, 20677, 20678, 20679, 20680, 20681, 20682, 20683, 20684,
       20685, 20686, 20687, 20688, 20689, 20690, 20691, 20692, 20693,
       20694, 20695, 20696, 20697, 20698, 20699, 20700, 20701, 20702,
       20703, 20704, 20705, 20706, 20707, 20708, 20709, 20710, 20711,
       20712, 20713, 20714, 20715, 20716, 20717, 20718, 20719, 20720,
       20721, 20722, 20723, 20724, 20725, 20726, 20727, 20728, 20729,
       20730, 20731, 20732, 20733, 20734, 20735, 20736, 20737, 20738,
       20739, 20740, 20741, 20742, 20743, 20744, 20745, 20746, 20747,
       20748, 20749, 20750, 20751, 20752, 20753, 20754, 20755, 20756,
       20757, 20758, 20759, 20760, 20761, 20762, 20763, 20764, 20765,
       20766, 20767, 20768, 20769, 20770, 20771, 20772, 20773, 20774,
       20775, 20776, 20777, 20778, 20779, 20780, 20781, 20782, 20783,
       20784, 20785, 20786, 20787, 20788, 20789, 20790, 20791, 20792,
       20793, 20794, 20795, 20796, 20797, 20798, 20799, 20800, 20801,
       20802, 20803, 20804, 20805, 20806, 20807, 20808, 20809, 20810,
       20811, 20812, 20813, 20814, 20815, 20816, 20817, 20818, 20819,
       20820, 20821, 20822, 20823, 20824, 20825, 20826, 20827, 20828,
       20829, 20830, 20831, 20832, 20833, 20834, 20835, 20836, 20837,
       20838, 20839, 20840, 20841, 20842, 20843, 20844, 20845, 20846,
       20847, 20848, 20849, 20850, 20851, 20852, 20853, 20854, 20855,
       20856, 20857, 20858, 20859, 20860, 20861, 20862, 20863, 20864,
       20865, 20866, 20867, 20868, 20869, 20870, 20871, 20872, 20873,
       20874, 20875, 20876, 20877, 20878, 20879, 20880, 20881, 20882,
       20883, 20884, 20885, 20886, 20887, 20888, 20889, 20890, 20891,
       20892, 20893, 20894, 20895, 20896, 20897, 20898, 20899, 20900,
       20901, 20902, 20903, 20904, 20905, 20906, 20907, 20908, 20909,
       20910, 20911, 20912, 20913, 20914, 20915, 20916, 20917, 20918,
       20919, 20920, 20921, 20922, 20923, 20924, 20925, 20926, 20927,
       20928, 20929, 20930, 20931, 20932, 20933, 20934, 20935, 20936,
       20937, 20938, 20939, 20940, 20941, 20942, 20943, 20944, 20945,
       20946, 20947, 20948, 20949, 20950, 20951, 20952, 38042, 38043,
       38044, 38045, 38046, 38047, 38048, 38049, 38050, 38051, 38052,
       38053, 38054, 38055, 38056, 38057, 38058, 38059, 38060, 38061,
       38062, 38063, 38064, 38065, 38066, 38067, 38068, 38069, 38070,
       38071, 38072, 38073, 38074, 38075, 38076, 38077, 38078, 38079,
       38080, 38081, 38082, 38083, 38084, 38085, 38086, 38087, 38088,
       38089, 38090, 38091, 38092, 38093, 38094, 38095, 38096, 38097,
       38098, 38099, 38100, 38101, 38102, 38103, 38104, 38105, 38106,
       38107, 38108, 38109, 38110, 38111, 38112, 38113, 38114, 38115,
       38116, 38117, 38118, 38119, 38120, 38121, 38122, 38123, 38124,
       38125, 38126, 38127, 38128, 38129, 38130, 38131, 38132, 38133,
       38134, 38135, 38136, 38137, 38138, 38139, 38140, 38141, 38142,
       38143, 38144, 38145, 38146, 38147, 38148, 38149, 38150, 38151,
       38152, 38153, 38154, 38155, 38156, 38157, 38158, 38159, 38160,
       38161, 38162, 38163, 38164, 38165, 38166, 38167, 38168, 38169,
       38170, 38171, 38172, 38173, 38174, 38175, 38176, 38177, 38178,
       38179, 38180, 38181, 38182, 38183, 38184, 38185, 38186, 38187,
       38188, 38189, 38190, 38191, 38192, 38193, 38194, 38195, 38196,
       38197, 38198, 38199, 38200, 38201, 38202, 38203, 38204, 38205,
       38206, 38207, 38208, 38209, 38210, 38211, 38212, 38213, 38214,
       38215, 38216, 38217, 38218, 38219, 38220, 38221, 38222, 38223,
       38224, 38225, 38226, 38227, 38228, 38229, 38230, 38231, 38232,
       38233, 38234, 38235, 38236, 38237, 38238, 38239, 38240, 38241,
       38242, 38243, 38244, 38245, 38246, 38247, 38248, 38249, 38250,
       38251, 38252, 38253, 38254, 38255, 38256, 38257, 38258, 38259,
       38260, 38261, 38262, 38263, 38264, 38265, 38266, 38267, 38268,
       38269, 38270, 38271, 38272, 38273, 38274, 38275, 38276, 38277,
       38278, 38279, 38280, 38281, 38282, 38283, 38284, 38285, 38286,
       38287, 38288, 38289, 38290, 38291, 38292, 38293, 38294, 38295,
       38296, 38297, 38298, 38299, 38300, 38301, 38302, 38303, 38304,
       38305, 38306, 38307, 38308, 38309, 38310, 38311, 38312, 38313,
       38314, 38315, 38316, 38317, 38318, 38319, 38320, 38321, 38322,
       38323, 38324, 38325, 38326, 38327, 38328, 38329, 38330, 38331,
       38332, 38333, 38334, 38335, 38336, 38337, 38338, 38339, 38340,
       38341, 38342, 38343, 38344, 38345, 38346, 38347, 38348, 38349,
       38350, 38351, 38352, 38353, 38354, 38355, 38356, 38357, 38358,
       38359, 38360, 38361, 38362, 38363, 38364, 38365, 38366, 38367,
       38368, 38369, 38370, 38371, 38372, 38373, 38374, 38375, 38376,
       38377, 38378, 38379, 38380, 38381, 38382, 38383, 38384, 38385,
       38386, 38387, 38388, 38389, 38390, 38391, 38392, 38393, 38394,
       38395, 38396, 38397, 38398, 38399, 38400, 38401, 38402, 38403,
       38404, 38405, 38406, 38407, 38408, 38409, 38410, 38411, 38412,
       38413, 38414, 38415, 38416, 38417, 38418, 38419, 38420, 38421,
       38422, 38423, 38424, 38425, 38426, 38427, 38428, 38429, 38430,
       38431, 38432, 38433, 38434, 38435, 38436, 38437, 38438, 38439,
       38440, 38441, 38442, 38443, 38444, 38445, 38446, 38447, 38448,
       38449, 38450, 38451, 38452, 38453, 38454, 38455, 38456, 38457,
       38458, 38459, 38460, 38461, 38462, 38463, 38464, 38465, 38466,
       38467, 38468, 38469, 38470, 38471, 38472, 38473, 38474, 38475,
       38476, 38477, 38478, 38479, 38480, 38481, 38482, 38483, 38484],
      dtype=int64)

the index in the first place:

In [32]:
two_countries.index.values[0]

20505

how many rows for the two countries?

In [74]:
len(two_countries)

891

In [34]:
two_countries.count()

location                               891
iso_code                               891
date                                   891
total_vaccinations                     883
people_vaccinated                      883
people_fully_vaccinated                870
total_boosters                         589
daily_vaccinations_raw                 879
daily_vaccinations                     889
total_vaccinations_per_hundred         883
people_vaccinated_per_hundred          883
people_fully_vaccinated_per_hundred    870
total_boosters_per_hundred             589
daily_vaccinations_per_million         889
daily_people_vaccinated                889
daily_people_vaccinated_per_hundred    889
dtype: int64

At the end of the file we have some world data.

Use str.contains if you're not sure how this location is called

In [75]:
vacc_df[vacc_df['location'].str.contains('Wo')]

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
85467,World,OWID_WRL,2020-12-02,0.000000e+00,0.000000e+00,NaN,NaN,0.0,0.0,0.00,0.00,NaN,NaN,0.0,0.0,0.000
85468,World,OWID_WRL,2020-12-03,0.000000e+00,0.000000e+00,NaN,NaN,0.0,0.0,0.00,0.00,NaN,NaN,0.0,0.0,0.000
85469,World,OWID_WRL,2020-12-04,1.000000e+00,1.000000e+00,NaN,NaN,0.0,0.0,0.00,0.00,NaN,NaN,0.0,0.0,0.000
85470,World,OWID_WRL,2020-12-05,1.000000e+00,1.000000e+00,NaN,NaN,0.0,0.0,0.00,0.00,NaN,NaN,0.0,0.0,0.000
85471,World,OWID_WRL,2020-12-06,1.000000e+00,1.000000e+00,NaN,NaN,0.0,0.0,0.00,0.00,NaN,NaN,0.0,0.0,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85922,World,OWID_WRL,2022-03-02,1.074307e+10,4.975229e+09,4.393554e+09,1.403893e+09,24458817.0,22845824.0,136.42,63.18,55.79,17.83,2901.0,6233023.0,0.079
85923,World,OWID_WRL,2022-03-03,1.075692e+10,4.976451e+09,4.399052e+09,1.407711e+09,25001449.0,21837931.0,136.60,63.19,55.86,17.88,2773.0,5654484.0,0.072
85924,World,OWID_WRL,2022-03-04,1.076896e+10,4.978811e+09,4.402673e+09,1.410391e+09,23182834.0,20749352.0,136.75,63.22,55.91,17.91,2635.0,5204433.0,0.066
85925,World,OWID_WRL,2022-03-05,1.078704e+10,4.982569e+09,4.408999e+09,1.413665e+09,21699233.0,19892930.0,136.98,63.27,55.99,17.95,2526.0,4665358.0,0.059
85926,World,OWID_WRL,2022-03-06,1.088133e+10,4.986748e+09,4.414217e+09,1.429801e+09,18393589.0,19204971.0,138.18,63.32,56.05,18.16,2439.0,4272886.0,0.054

Remove the world data:

In [36]:
vacc_df_noWorld = vacc_df.loc[vacc_df.location != 'World']
vacc_df_noWorld.tail()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
86931,Zimbabwe,ZWE,2022-03-01,7901360.0,4365856.0,3399915.0,135589.0,10409.0,9291.0,52.35,28.93,22.53,0.90,616.0,2991.0,0.020
86932,Zimbabwe,ZWE,2022-03-02,7910740.0,4368726.0,3402434.0,139580.0,9380.0,9061.0,52.42,28.95,22.54,0.92,600.0,2962.0,0.020
86933,Zimbabwe,ZWE,2022-03-03,7921113.0,4372925.0,3406482.0,141706.0,10373.0,8903.0,52.48,28.97,22.57,0.94,590.0,3043.0,0.020
86934,Zimbabwe,ZWE,2022-03-04,7930621.0,4374896.0,3408609.0,147116.0,9508.0,8603.0,52.55,28.99,22.59,0.97,570.0,2811.0,0.019
86935,Zimbabwe,ZWE,2022-03-05,7936145.0,4377373.0,3410340.0,148432.0,5524.0,8458.0,52.58,29.00,22.60,0.98,560.0,2776.0,0.018

Find the country with the maximum vaccinations:

In [76]:
max_vacc = vacc_df_noWorld['total_vaccinations'].max()
max_vacc

7432196291.0

In [38]:
vacc_df_noWorld.loc[vacc_df_noWorld.total_vaccinations == max_vacc]

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
4684,Asia,OWID_ASI,2022-03-06,7.432196e+09,3.409443e+09,3.051759e+09,868082110.0,14241432.0,14823988.0,158.86,72.88,65.23,18.55,3169.0,2813162.0,0.06

What do you think this function does?

In [39]:
vacc_df_noWorld.total_vaccinations.mean()

126471700.63340928

----
#### Your turn:

Select the number of daily vaccinations in Israel on date 2021-02-06 (hint: use &)

Find all the countries with more than 3000000 vaccinations

---
Summary of the functions in this unit:

>* `.describe()` - View statistical information about the data
>* `.index.values` - the row indexes of this part of the dataframes
>* `.str.contains` - selects rows and columns that contain a string
>* `.max` - maximum value
>* `.mean` - average value
>* `.count` - the number of rows that contain a value
>* `len()` - dataframe length