# Unit 2 - Reading files and basic selection and description
---




1. [Introducing Pandas](#section1)
2. [Reading files](#section2)
3. [Selecting data](#section3)
4. [Describe the data](#section4)

<a id='section1'></a>

## 1. Introducing Pandas
---

<div>
<img src="images/pandas.JPG" width="400"/>
</div>



[Panda's documentation](https://pandas.pydata.org/pandas-docs/stable/)

To begin we need to import pandas
When you see pd, know it is referring to pandas

In [1]:
import numpy as np
import pandas as pd

Pandas is a popular Python library used for working in tabular data (similar to the data stored in a spreadsheet).

There are two main data structure used by pandas
- Series: like (but not exactly) a vector, list, or numpy array
- Dataframe: like a table.

#### Creating a dataframe from lists:

In [2]:
name_lst = ['Jack', 'Krish', 'Nick', 'Tom']
age_lst = [18, 19, 21, 20]
uni_lst = ['Ariel','TAU','BGU','Ariel']
df = pd.DataFrame({'age': age_lst, 'name': name_lst, 'uni':uni_lst})
df

   age   name    uni
0   18   Jack  Ariel
1   19  Krish    TAU
2   21   Nick    BGU
3   20    Tom  Ariel

#### Creating a dataframe from a dictionary:

In [3]:
age_dict = {'Tom':20, 'Nick':21, 'Krish':19, 'Jack':18} 
uni_dict = {'Tom': 'Ariel', 'Nick':'TAU', 'Krish':'BGU'}

In [4]:
df = pd.DataFrame({'age': uni_dict, 'university': age_dict})
df

         age  university
Tom    Ariel          20
Nick     TAU          21
Krish    BGU          19
Jack     NaN          18

Note: 
- In this dataframe, the index is not numeric
- Where did the `NaN` come from?

#### Creating a dataframe from series
Let's change the dictionaries to series:

In [5]:
age_s=pd.Series(age_dict)
age_s

Tom      20
Nick     21
Krish    19
Jack     18
dtype: int64

another one:

In [6]:
uni_s = pd.Series(uni_dict)
uni_s

Tom      Ariel
Nick       TAU
Krish      BGU
dtype: object

<a id='section2'></a>

A data frame from two series:

In [7]:
df = pd.DataFrame({'age': age_s, 'university': uni_s})
df

       age university
Jack    18        NaN
Krish   19        BGU
Nick    21        TAU
Tom     20      Ariel

In [8]:
df['age']

Jack     18
Krish    19
Nick     21
Tom      20
Name: age, dtype: int64

In [9]:
df.index

Index(['Jack', 'Krish', 'Nick', 'Tom'], dtype='object')

In [10]:
df.columns

Index(['age', 'university'], dtype='object')

So: each column in a pandas Dataframe is a pandas Series data structure.\
But usually we will create a Pandas Dataframe by reading a file

## 2. Reading files
---

<div>
<img src="images/reading.PNG" width="400"/>
</div>


We will read the whole file at once using Pandas.
Sometimes you might want to read the file line by line, and process each line. Thats possible of course. See for example [here.](https://www.geeksforgeeks.org/read-a-file-line-by-line-in-python/)

We will read data on [COVID-19 vaccinations](https://github.com/owid/covid-19-data/tree/master/public/data/vaccinations)

In order to do that, I retrieved the raw data's url

Press on raw either here:

<div>
<img src="images/raw.png" width="800"/>
</div>

or here:

<div>
<img src="images/unit1_raw2.jpg" width="800"/>
</div>

and retrieve the link:

<div>
<img src="images/unit1_raw3.jpg" width="800"/>
</div>

In [11]:
url = 'https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv'
vacc_df = pd.read_csv(url)

read_csv has about 30 different options. See the 
[documentation](https://pandas.pydata.org/pandasdocs/stable/reference/api/pandas.read_csv.html#pandas.read_csv)

For example, sep='\t' is used for tab delimited files and 'usecol' reads only specific columns.

In [12]:
type(vacc_df)

pandas.core.frame.DataFrame

view the shape of the dataframe:

In [13]:
vacc_df.shape

(157996, 16)

view basic information:

In [14]:
vacc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157996 entries, 0 to 157995
Data columns (total 16 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   location                             157996 non-null  object
 1   iso_code                             157996 non-null  object
 2   date                                 157996 non-null  object
 3   total_vaccinations                   72870 non-null   float64
 4   people_vaccinated                    69773 non-null   float64
 5   people_fully_vaccinated              67114 non-null   float64
 6   total_boosters                       41598 non-null   float64
 7   daily_vaccinations_raw               60447 non-null   float64
 8   daily_vaccinations                   156880 non-null  float64
 9   total_vaccinations_per_hundred       72870 non-null   float64
 10  people_vaccinated_per_hundred        69773 non-null   float64
 11  people_fully_vaccinated_per_hundred  67114 non-null   float64
 12  total_boosters_per_hundred           41598 non-null   float64
 13  daily_vaccinations_per_million       156880 non-null  float64
 14  daily_people_vaccinated              156802 non-null  float64
 15  daily_people_vaccinated_per_hundred  156802 non-null  float64
dtypes: float64(13), object(3)
memory usage: 19.3+ MB

In [15]:
vacc_df.columns

Index(['location', 'iso_code', 'date', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'daily_vaccinations_raw', 'daily_vaccinations',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'daily_vaccinations_per_million', 'daily_people_vaccinated',
       'daily_people_vaccinated_per_hundred'],
      dtype='object')

We can view unique values:

In [16]:
vacc_df['location'].unique()

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Asia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'England', 'Equatorial Guinea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Europe', 'European Union',
       'Faeroe Islands', 'Falkland Islands', 'Fiji', 'Finland', 'France',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'High income', 'Honduras', 'Hong Kong', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland',
       'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo', 'Kuwait',
       'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia',
       'Libya', 'Liechtenstein', 'Lithuania', 'Low income',
       'Lower middle income', 'Luxembourg', 'Macao', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania',
       'Mauritius', 'Mexico', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North America', 'North Macedonia', 'Northern Cyprus',
       'Northern Ireland', 'Norway', 'Oceania', 'Oman', 'Pakistan',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Pitcairn', 'Poland', 'Portugal', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Scotland', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tokelau',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Upper middle income', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Venezuela', 'Vietnam', 'Wales', 'Wallis and Futuna',
       'World', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

View the first few rows:

In [17]:
vacc_df.head()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003

### <span style="color:blue"> Exercise:</span>
 >What do you think that the 'tail' command does? Try it out!
>
>What happens if we just type vacc_df, without a head or a tail?

---
A summary of the functions so far:

>* `pd.read_csv` - Read data from a CSV file into a Pandas `DataFrame` object
>* `.info()` - View basic infomation about rows, columns & data types
>* `.columns` - Get the list of column names
>* `.shape` - Get the number of rows & columns as a tuple
>* `.head()`, `.tail()` - View the beginning/end of the file
>* `.unique()` - view the unique entries in a series (not a dataframe) object

<a id='section3'></a>

---
## 3. Selecting data

This is a dataframe:

<a href="https://i.imgur.com/zfxLzEv.png">
  <img src="https://i.imgur.com/zfxLzEv.png" width="800" />
</a>

In [18]:
vacc_df.head()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003

#### Selecting a single column:

**return a single column as a series:**

In [19]:
vacc_df.location.head()
vacc_df['location'].head()

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: location, dtype: object

note: using the `.` notation is possible only for columns whose names do not contain spaces or special characters.

**return a single column as a dataframe:**

In [20]:
vacc_df[['location']].head()

      location
0  Afghanistan
1  Afghanistan
2  Afghanistan
3  Afghanistan
4  Afghanistan

#### Selecting a few columns

In [21]:
vacc_df[['location','date']].head(2)

      location        date
0  Afghanistan  2021-02-22
1  Afghanistan  2021-02-23

#### Select a specific cell:

In [22]:
vacc_df.location[600]

'Afghanistan'

---
### <span style="color:blue"> Exercise:</span>
> Now you:
>
> (1) Select the `iso_code` column from the `vacc_df` dataframe
>
> (2) Select only the `iso_code` at index 3
>
> (3) What is the difference between `vacc_df[['location']]` and `vacc_df['location']` and `vacc_df.location` ?  Use `type` to find out

---

### Seletcting subsets of rows and columns

One way to do that is iloc. 

`.iloc` - selects subsets of rows and columns by integer location only

In [23]:
vacc_df.iloc[0]  #first row as a series
vacc_df.iloc[0:1]  #first row as a dataframe
vacc_df.iloc[-1] #last row as a series
vacc_df.iloc[-1:] #last row as a dataframe

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
157995,Zimbabwe,ZWE,2022-10-09,12222754.0,6437808.0,4751270.0,1033676.0,NaN,1126.0,74.89,39.45,29.11,6.33,69.0,332.0,0.002

The : operator 

 - when used alone it means "everything"

- also used to indicate a ***slice*** of values

In [24]:
vacc_df.iloc[2:4] # second and third row
vacc_df.iloc[[-1,2,22]] #a few specific rows

# Columns:
vacc_df.iloc[:,0] # first column of data frame  
vacc_df.iloc[:,1] # second column of data frame  
vacc_df.iloc[:,-1] # last column of data frame

#Rows and columns
vacc_df.iloc[0:5] # first five rows of dataframe
vacc_df.iloc[4:6, 0:2] # first two columns of data frame with all rows
vacc_df.iloc[[0,3,6,24], [0,5,6]] # 1st, 4th, 7th, 25th row + 1st 6th 7th columns.

       location  people_fully_vaccinated  total_boosters
0   Afghanistan                      NaN             NaN
3   Afghanistan                      NaN             NaN
6   Afghanistan                      NaN             NaN
24  Afghanistan                      NaN             NaN

What if I want to select the 'daily_vaccinations' column, but I don't remember the column number?

Use `.loc`

`.loc` - selects subsets of rows and columns by label only. Allowed inputs are:

- A single label, e.g. 5 or 'a', (note that 5 is interpreted as a label of the index, and never as an integer position along the index).

- A list or array of labels, e.g. ['a', 'b', 'c'].

- A slice object with labels, e.g. 'a':'f'.

In [25]:
vacc_df.loc[2:3,['daily_vaccinations','date']]

   daily_vaccinations        date
2              1367.0  2021-02-24
3              1367.0  2021-02-25

I'm missing the location. Let's add it.

In [26]:
vacc_df.loc[0:3,['location','daily_vaccinations','date']]

      location  daily_vaccinations        date
0  Afghanistan                 NaN  2021-02-22
1  Afghanistan              1367.0  2021-02-23
2  Afghanistan              1367.0  2021-02-24
3  Afghanistan              1367.0  2021-02-25

Semantics are similar to iloc. But note:

- `iloc` excludes the last element.  `df.iloc[0:1000]` will return entries 0...999
- `loc`, includes the last element.  `df.loc[0:1000]` will return entries 0...1000

you try it! What is the difference between:

> vacc_df.iloc[0:5]

> vacc_df.loc[0:5]

---
### <span style="color:blue"> Exercise:</span>
>Now you: 
>
>what do you do to select:
>
>a. first five rows?
>
>b. first two columns, all rows?
>
>c. 1st and 3rd row and 2nd and 4th column?

---

---
A summary of the functions in this unit:

>* `.iloc` - selects rows and columns by integer location
>* `.loc` - selects rows and columns by label location

Note: indexing operators as the ones working on dictionaries, will also work in pandas. But for more advanced operations, better get used to loc and iloc.

---

<a id='section4'></a>

<a id='section4'></a>

## 4. Describe the data:

Describe the data

In [27]:
vacc_df.describe()

,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
count,7.287000e+04,6.977300e+04,6.711400e+04,4.159800e+04,6.044700e+04,1.568800e+05,72870.000000,69773.000000,67114.000000,41598.000000,156880.000000,1.568020e+05,156802.000000
mean,3.398028e+08,1.523225e+08,1.348679e+08,7.929824e+07,8.554187e+05,3.461992e+05,111.638479,50.030986,44.990197,30.772319,2231.019971,1.281494e+05,0.090765
std,1.328235e+09,5.952441e+08,5.388349e+08,2.927462e+08,3.433034e+06,2.136716e+06,82.818443,29.988264,29.578417,28.545447,3329.157677,8.693271e+05,0.191469
min,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000
25%,1.389011e+06,8.114520e+05,6.975100e+05,2.255080e+05,3.461000e+03,4.610000e+02,32.550000,22.030000,15.210000,2.560000,227.000000,8.800000e+01,0.004000
50%,1.058416e+07,5.113508e+06,4.523844e+06,3.350936e+06,2.853000e+04,5.274000e+03,109.335000,57.650000,51.370000,26.990000,978.000000,1.310000e+03,0.024000
75%,7.218017e+07,3.352442e+07,2.848087e+07,2.310950e+07,2.259140e+05,4.042775e+04,179.300000,76.310000,71.590000,54.170000,2994.000000,1.332000e+04,0.100000
max,1.331296e+10,5.556363e+09,5.107791e+09,2.739484e+09,4.967828e+07,4.369139e+07,406.430000,129.070000,126.890000,150.470000,117113.000000,2.107134e+07,11.711000

a note on e: e stands for exponent of 10, and it's always followed by another number, which is the value of the exponent

10e + 1 = 100

10e + 2 = 1000

describe categorical data:

In [28]:
vacc_df[['location']].describe()

       location
count    157996
unique      235
top       World
freq        819

Note that in this dataset, some of the locations are not countries. For example: `High income`,`Africa`, `World`.

Count how many times each location is mentioned in the dataset

In [29]:
vacc_df[['location']].value_counts()

location
World                              819
High income                        819
Europe                             819
European Union                     817
Denmark                            812
                                  ...
Monaco                             357
Bosnia and Herzegovina             353
Bonaire Sint Eustatius and Saba    146
Saint Helena                        92
Falkland Islands                    67
Length: 235, dtype: int64

---
## Summary of the functions in this unit:

>* `.describe()` - View statistical information about the data
>* `value_counts` - counts how many times a certain value appears in a column